@model DistanceViewModel

@{
    ViewData["Title"] = "Distance";
}

<h1>Distance</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Distance">

            <div class="form-group">
                <label>Address 1</label>
                <select asp-for="Addres1Id" required>
                    @foreach (var item in Model.Addresses)
                    {
                        <option value="@item.Id">
                            @item.Street @item.HouseNumber, @item.PostalCode @item.City
                        </option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Address 2</label>
                <select asp-for="Addres2Id" required>
                    @foreach (var item in Model.Addresses)
                    {
                        <option value="@item.Id">
                            @item.Street @item.HouseNumber, @item.PostalCode @item.City
                        </option>
                    }
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Calculate" class="btn btn-primary" />
            </div>
        </form>
    </div>
    @if (Model.Distance != 0)
    {
        <p>The distance between @Model.Address1.Street @Model.Address1.HouseNumber and @Model.Address2.Street @Model.Address2.HouseNumber is: @Model.Distance km</p>
    }
</div>